/* Universal selectors for the layout/positioning/style of webpage. */

* {
    box-sizing: border-box;
    padding: 1;
    margin: 2;
}

body {
    background-color:#fff;
}

p {
    display:flex;
    flex-wrap: wrap;
    margin: 2%;
    font-size: 20px;
    font-family:sans-serif;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    font-size: 48px;
    font-family: sans-serif;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    font-size: 34px;
    font-family: sans-serif;
}

.btn1, .btn2, .btn3 {
    background-color: #f1c2b3;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.btn1:hover {
    color: #BD5D38;
}
.btn2:hover {
    color: #BD5D38
}
.btn3:hover {
    color: #BD5D38
}

/* Class making images responsive. */

.picofme {
    width: 25%;
    height: auto;
    border-radius: 50%;
    margin: 2%;
}

.display-3 {
    display: flex;
    justify-content: center;
}

.response {
    width: 50%;
    height: auto;
}

.contact {
    padding-right: 20px;
    background-color: #BD5D38;
    color:#fff;
}

#contact-me h1 {
    display: flex;
    justify-content: center;
}

.contactinfo {
    margin: 75px;
    padding: 50px;
}
/* Article tag */

article {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding-right: 20px;
    background-color: #BD5D38;
    border: solid;

}

#about-me h1 {
    display: flex;
    justify-content: center;
}

/* Positioning for article image */

.img-position {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

/* Main */

main {
    display:flex;
    flex-wrap: wrap;
    margin: 2%;
    background-color:#BD5D38;
    color: #fff;
    border: solid;
}

/* Main sections positioning */

.work-style {
    margin: 2%
}

.work-style2 {
    margin: 2%;
    display:inline-block;
}


