/* Universal selectors for the layout/positioning/style of webpage. */

* {
    box-sizing: border-box;
    padding: 1;
    margin: 2;
}

body {
    background-color:black;
}

p {
    display:flex;
    flex-wrap: wrap;
    margin: 2%;
    font-size: 20px;
    font-family:sans-serif;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    font-size: 48px;
    font-family: sans-serif;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    font-size: 34px;
    font-family: sans-serif;
}

.btn1, .btn2, .btn3 {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color:black;
    color: purple;
}

/* Color changes for images on hover */

a:hover {
    color:gray;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}


/* Class making images responsive. */

.picofme {
    width: 500x;
    height: 500px;
    border-radius: 50%;
    margin: 2%;
}

.display-3 {
    display: flex;
    justify-content: center;
}

.response {
    width: 50%;
    height: auto;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
    padding: 20px;
    border: solid;
    font-family: 'sans-serif';
    background-color: rgba(92, 92, 92, 0.589);
    color: #000000;
}

/* Header Navbar */

header nav {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding-top: 20px;
    margin-right: 30px;
    font-family: sans-serif;
    font-size: 20px;
}

header nav ul {
    display:flex;
    list-style-type: none;
}

header nav ul li {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

/* Article tag */

article {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding-right: 20px;
    background-color: purple;
    border: solid;

}

#about-me h1 {
    display: flex;
    justify-content: center;
}

/* Positioning for article image */

.img-position {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

/* Main */

main {
    display:flex;
    flex-wrap: wrap;
    margin: 2%;
    background-color:purple;
    color: rgb(0, 0, 0);
    border: solid;
}

/* Main sections positioning */

.work-style {
    margin: 2%
}

.work-style2 {
    margin: 2%;
    display:inline-block;
}

/* Footer */

footer {
    margin: 2%;
    padding: 20px;
    width: 96%;
    justify-content: space-between;
    border:solid;
    display:flex;
    flex-wrap: wrap;
    background-color: rgba(92, 92, 92, 0.589);
}

footer h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-family: sans-serif;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin: 25px;
    font-size: 24px;
    border-bottom: solid;
}